$nav-width: 80px;
$content-nav-width: 300px;
$content-nav-bg-color: #edeef0;

@mixin gradient-mask($height: 150px, $color: #ffffff, $degree: 0) {
  width: 100%;
  height: $height;
  background-image: linear-gradient($degree, $color, rgba(255, 255, 255, 0));
  pointer-events: none;
}

@mixin scrollbar-default {
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: #ccc;
    transition: color .2s ease;
  }
}

@mixin scrollbar-hidden {
  ::-webkit-scrollbar {
    width: 0 !important;
  }

  ::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}

html {
  height: 100%;
  overflow-y: auto !important;
}

body {
  position: relative;
  height: inherit;

  #app {
    height: inherit;
    @include scrollbar-default;

    .v-application {
      height: inherit;

      .v-application__wrap {
        min-height: unset;
        max-height: unset;
      }
    }
  }
}


