.ant-tabs, .ant-tabs-content, .ant-tabs-tabpane {
  height: 100%;
}

.ant-tabs-tab:not(.ant-tabs-tab-active), .ant-tabs-nav-add {
  background: transparent !important;
  border: 1px solid transparent !important;
}

.ant-tabs-tab-active {
  //border: 1px solid #333 !important;
}
